* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    letter-spacing: 1px;
    background-color: #ffffff;
    color: black;
} 

hr {
    width: 90%;
    margin: 2em auto;
    background-color:black;
    border-bottom: solid 1px orange;
    border-right: solid 1px white;
    border-left: solid 1px white;
    height: 0.5px;
    border-radius: 80%;
}
a {
    text-decoration: none;
    color: white;
}

a li:hover, a:hover {
    color: #426CB4;
}

/*  #426CB4 blue */
/*  #F05742 red */

.overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -2;
    background-color: #601c1c40;
    top: 0;
}

.hero{
    height: 100vh;
    background-image: url(./images/kyle-head-PW8K-W-Kni0-unsplash.jpg);
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
    position: relative;
    width: 100%;
    z-index: -3;
}

.bg1, .bg2, .bg3{
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.bg1 {
    background-image: url(./images/cloris-ying-1Qt-W4BGrgc-unsplash.jpg);
    min-height: 80vh;
    width:100%;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #000;

}


.menu {
    text-align: center;
    height: 100vh;
    color: white;
    top: 0;
    position: absolute;
    width: 100%;
    margin-top: 2em;
}

.menu img {
    margin-top: 2em;
    height: 8em;
}
.nav-menu {
    height: 100vh;
}
nav ul {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style-type: none;
    color: white;
    text-decoration: none;
    margin: 0 .8em;
    font-size: 1.4em;
}

.hero-text {
    display: flex;
    flex-direction: column;
    margin-top: 12.5em;
}

.menu h1 {
    font-size: 4em;
    margin-bottom: .5em;

}

.menu p {
    font-size: 1.2em;
    margin: 0 2em;
}
.hero-text a {
    border: 4px solid White;
    text-transform: uppercase;
    padding: 15px;
    font-size: 1em;
    margin: 5em auto;
}

.hero-text a:hover {
    color: white;
    background-color: black;
    border-color: black;
}

/*  section  */


h2 {
    font-size: 2em;
    margin: 2em 50%;
}

.sec-content {
    display: grid;
    grid-template-areas: 
      'left  right'  ;
    grid-gap: 10%;
    margin: 0 10% 3em 10%; 
  }
  .menu-container span {
    margin: 0 0 1em 1.5em; 
    display: block; 
    font-size: 1.4em;
  }

.menu-box{
    border: solid block 1px;

}
.menu-container {
    padding: 2em;
}
.menu-box img {
    display: block;
    width: 90%;
    margin: 0 auto 2em auto;
}

.menu-box p {
    width: 90%;
    margin: 0 auto;
}

.left {
    grid-area: " left";

}
.right {
    grid-area: "right";
}

/* footer */

footer {
    background-color: black;
    color: #fff;
    padding: 20px;
    text-align: center;
}

@media (max-width: 800px) {

    
    .sec-content {
        display: grid;
        grid-template-areas: 
        'left'
        'right' !important;
        grid-row-gap: 5em;
        
    }
    
   
}



